/* _____________________
  | _ \ __/ __| __|_   _|
  |   / _|\__ \ _|  | |  
  |_|_\___|___/___| |_|
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*  ___ _    ___  ___   _   _    ___ 
   / __| |  / _ \| _ ) /_\ | |  / __|
  | (_ | |_| (_) | _ \/ _ \| |__\__ \
   \___|____\___/|___/_/ \_\____|___/
*/
body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  font-family: Roboto, Arial, sans-serif;
}
@media (min-width: 800px) {
  .container {
    width: 1024px;
  }
}
@media (max-width: 800px) {
  .container {
    width: 100%;
  }
}
/* _  _ ___   _   ___  ___ ___ 
  | || | __| /_\ |   \| __| _ \
  | __ | _| / _ \| |) | _||   /
  |_||_|___/_/ \_\___/|___|_|_\
*/
header {
  color: #ffffff;
}
header .nav-container {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
  font-size: 2.4rem;
  font-weight: 1000;
  line-height: normal;
  text-align: inherit;
  text-transform: none;
  background-color: #98A2AE;
  height: 50px;
  overflow: hidden;
  position: fixed;
  top: 0;
}
header .nav-container .banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
}
header .nav-container .banner .logo {
  font-weight: bold;
}
header .nav-container .banner .nav-btn {
  cursor: pointer;
  display: inline-block;
}
header .nav-container .banner .nav-btn div {
  height: 5px;
  width: 35px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
}
header .nav-container .banner .nav-btn:hover div:nth-of-type(1) {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
header .nav-container .banner .nav-btn:hover div:nth-of-type(2) {
  opacity: 0;
}
header .nav-container .banner .nav-btn:hover div:nth-of-type(3) {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
header .jumbo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 50px;
}
header .jumbo h1 {
  font-weight: bold;
}
header.home .jumbo {
  background-color: transparent;
  background-image: url('../img/home/home-jumbotron.png');
  background-size: cover;
  background-repeat: repeat;
  background-position: bottom;
  height: 550px;
}
header.services .jumbo {
  background-color: transparent;
  background-image: url('../img/services/services-jumbotron.png');
  background-size: cover;
  background-repeat: repeat;
  background-position: bottom;
  height: 200px;
}
@media (min-width: 800px) {
  header .nav-container {
    width: 1024px;
    padding: 0 85px;
  }
  header .jumbo {
    padding: 50px 82px;
  }
  header .jumbo h1 {
    font-size: 6.4rem;
    line-height: 7.5rem;
  }
}
@media (max-width: 800px) {
  header .nav-container {
    width: 100%;
    padding: 0 16px;
  }
  header .jumbo {
    padding: 23px 15px;
  }
  header .jumbo h1 {
    font-size: 3.2rem;
    line-height: 4.2rem;
  }
  header.home .jumbo {
    height: 209px;
  }
}
.main {
  display: flex;
  flex-direction: column;
}
.main .item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
.main .item.small {
  display: flex;
  align-items: center;
}
@media (min-width: 800px) {
  .main {
    padding: 0 85px;
  }
  .main .item {
    margin: 50px 0;
  }
  .main .item .text {
    width: 410px;
  }
  .main .item h2 {
    font-size: 2.4rem;
    font-weight: bold;
    color: #222222;
  }
  .main .item p {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin: 25px 0;
  }
  .main .item a {
    border: 1px solid black;
    color: #222222;
    display: block;
    font-size: 1.6rem;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    width: 136px;
    min-width: fit-content;
  }
  .main .item:nth-of-type(odd) .text {
    order: 1;
  }
  .main .item:nth-of-type(odd) img {
    order: 2;
  }
}
@media (max-width: 800px) {
}
