/* _  _ ___   _   ___  ___ ___ 
  | || | __| /_\ |   \| __| _ \
  | __ | _| / _ \| |) | _||   /
  |_||_|___/_/ \_\___/|___|_|_\
*/
header {
    color: #ffffff;
    .nav-container {
        .text(@size: 2.4rem, @weight: 1000);
        background-color: #98A2AE;
        height: 50px;
        overflow: hidden;
        position: fixed;
        .banner {
            .flex(space-between, center);
            .size(50px, 100%);
            .nav-btn {
                cursor: pointer;
                display: inline-block;
                div {
                    .size(5px, 35px);
                    background-color: #ffffff;
                    margin: 6px 0;
                    transition: 0.4s;
                }
                &:hover {
                    div {
                        &:nth-of-type(1) {
                            -webkit-transform: rotate(-45deg) translate(-9px, 6px);
                            transform: rotate(-45deg) translate(-9px, 6px);
                        }
                        &:nth-of-type(2) {
                            opacity: 0;
                        }
                        &:nth-of-type(3) {
                            -webkit-transform: rotate(45deg) translate(-8px, -8px);
                            transform: rotate(45deg) translate(-8px, -8px);
                        }
                    }  
                }
            }
        }
    }
    .jumbo {
        .flex(flex-start, flex-end);
        transform: translateY(50px);
        h1 {
            font-weight: 1000;
        }
    }
}
header.home {
    .jumbo {
        .background(@image: url('../img/home/home-jumbotron.png'), @size: cover, @position: bottom);
        height: 550px;
    }
}
header.services {
    .jumbo {
        .background(@image: url('../img/services/services-jumbotron.png'), @size: cover, @position: bottom);
        height: 200px;
    }
}
@media (min-width: 800px) {
    header {
        .nav-container {
            width: 1024px;
            padding: 0 85px;
        }
        .jumbo {
            padding: 50px 82px;
            h1 {
                font-size: 6.4rem;
                line-height: 7.5rem;
            }
        }
    }
}
@media (max-width: 800px) {
    header {
        .nav-container {
            width: 100%;
            padding: 0 16px;
        }
        .jumbo {
            padding: 23px 15px;
            h1 {
                font-size: 3.2rem;
                line-height: 4.2rem;
            }
        }
    }
    header.home {
        .jumbo {
            height: 209px;
        }
    }
}