.main {
  display: flex;
  flex-direction: column;
}
@media (min-width: 800px) {
  .main {
    padding: 48px 85px;
  }
  .main .p > p {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
  .main .subtitle {
    font-size: 2.4rem;
    font-weight: 1000;
    word-spacing: 2px;
  }
}
@media (max-width: 800px) {
  .main.services {
    padding: 0 15px;
  }
  .main.services .p > p {
    margin-top: 30px;
  }
  .main .subtitle {
    font-size: 2.4rem;
    padding: 0 15px;
    margin-top: 42px;
    margin-bottom: 25px;
    word-spacing: 2px;
  }
  .main .p > p {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}
