/* __  __   _   ___ _  _ 
  |  \/  | /_\ |_ _| \| |
  | |\/| |/ _ \ | || .` |
  |_|  |_/_/ \_\___|_|\_|
*/
body {
  .flex(center);
  font-family: @global-font;
}
.container {
  max-width: @container--max-width;
  padding: @container--padding;
  width: 100%;
}
.main {
  .flex(center,center,column);
  .subtitle {
    .text(@color: @main-h2--color, @size: @main-h2--size, @weight: @main-h2--weight);
    align-self: flex-start;
  }
  .item {
    .flex(space-between, center);
    margin: @main-item--margin;
    width: 100%;
    .text {
      .flex(center, @direction: column);
      h2 {
        .text(@color: @main-item-h2--color, @size: @main-item-h2--size, @weight: @main-item-h2--weight);
        margin-bottom: @main-item-h2--margin-sm;
      }
      p {
        .text(@size: @main-item-p--size, @line-height: @main-item-p--line-height);
        width: @main-item-p--width;
      }
      a {
        .button();
        margin: @main-item-a--margin;
      }
    }//text
  }//item
  .item.small {
    &:nth-of-type(odd) {
      .text {
        order: 1;
      }
      img {
        order: 2;
      }
    }
    img {
      .size(@main-item-img--height-sm, @main-item-img--width-sm);
    } 
  }//item-small
  .item.large {
    flex-direction: column;
    .text {
      width: 100%;
      h2 {
        .text(@size: @main-item-h2--size, @align: center, @line-height: @main-item-h2--line-height, @transform: uppercase);
        .size(@main-item-h2--height, @main-item-h2--width);
        align-self: flex-end;
        background-color: @main-item-h2--background;
        border: @main-item-h2--border;
        margin: @main-item-h2--margin-lg;
      }
      p {
        align-self: center;
        margin: @main-item-p--margin-lg;
      }
    }//text
    img {
      .size(@main-item-img--height-lg, @main-item-img--width-lg);
    }
    &:nth-of-type(even) {
      h2 {
        align-self: flex-start;
      }
    }
  }//item-large
}